:root {
    --text: #130e01;
    --background: #ffffff;
    --primary: #2f2f2f;
    --secondary: #c4c4c4;
    --accent: #ffff00;
}

/*
Target Yellow ffff00
AGB Red       dd2835
YB Blue       0080fe
Merlin Orange f65300
*/

/* Path: 00-Project/css/style.css */

/* Always Design for Mobile First 
Mobile First means designing for mobile before designing for desktop or any other device (This will make the page display faster on smaller devices). 
Instead of changing styles when the width gets smaller than 992px, we should change the design when the width gets larger than 992px. This will make our design Mobile First */
/* Typical Device Breakpoints
Large devices (laptops/desktops, 992px and up)*/

* {
    font-family: "Lucida Grande", "Lucida Sans Unicode";
    padding: 0;
    margin: 0;
    color: var(--text);
}

body {
    /* Setup to ensure the footer will stick to the bottom if there is not enough content to fill
    the entire height of the screen */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
